{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Administracao {% endblock %}

{% block main %}
<h3>Novo cliente</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Nome</p>{{ form.nome|bootstrap }}    
    <p>Idade</p>{{ form.idade|bootstrap }}  
    <p>Celular</p>{{ form.celular|bootstrap }}  
    <p>Email</p>{{ form.email|bootstrap }}  
    <p>Cep</p>{{ form.cep|bootstrap }}   
    <p>Endereco</p>{{ form.endereco|bootstrap }}  
    <p>RG</p>{{ form.rg|bootstrap }}  
    <p>CPF</p>{{ form.cpf|bootstrap }}  
    <p>Descricao</p>{{ form.descricao|bootstrap }}  
    <p>Foto</p>{{ form.foto|bootstrap }}  

    
   
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
