{% extends 'base.html' %}
{% load bootstrap %}

{% block title %} Administracao {% endblock %}

{% block main %}


<h3>Novo Imovel</h3>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

  
    
    
    <p>Nome{{ form.nome|bootstrap }} </p> 
    
    <p>Valor_compra{{ form.valor_compra|bootstrap }} </p> 
    <p>Valor_aluguel{{ form.valor_aluguel|bootstrap }} </p> 
    <p>Endereco{{ form.endereco|bootstrap }} </p> 
    
    
    <p>Descricao{{ form.descricao|bootstrap }} </p> 
    <p>Foto{{ form.foto|bootstrap }} </p> 
    
    



     


   
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

{% endblock %}