{% extends 'base.html' %}

{% block title %} Administracao {% endblock %}

{% block main %}





    <div class="row">
        <div class="col">
            
        </div>
        <div class="col-7">
            <h3>Listagem de Corretores</h3>
            <ul class="list-group">
                {% for corretores in corretores  %}
                    <li class="list-group-item">
                        <a href="{% url 'corre_update' corretores.id %}">{{ corretores.nome}} </a>
                        <a href="{% url 'corre_delete' corretores.id %}" class="trash-item">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </a>
                    </li>
                {% endfor %}
                <br>
                <a href="{% url 'corre_new' %}" class="btn btn-success"> Novo Corretor</a>
            </ul>
        </div>
        <div class="col">
        {% if user.is_authenticated %}
            <p class="btn btn-info">Ola {{user.username}} </p>

            <p><a href="{% url 'home' %}" class="btn btn-dark"> Home</a>  </p>

            <a href="{% url 'logout' %}" class="btn btn-danger">Sair </a> </p>
            
        {% endif %}
        </div>
    </div>














<br>




{% endblock %}
















